<launch>
  <node name="E_IMU" pkg="ros4mat" type="E_IMU" />
  <node name="E_ADC" pkg="ros4mat" type="E_ADC" />
  <node name="gpsd_client" pkg="gpsd_client" type="gpsd_client" args="_use_gps_time:=false" />
  <node name="E_Battery" pkg="ros4mat" type="E_Battery" />
  <node name="E_Computer" pkg="ros4mat" type="E_Computer" />
  <node name="E_Serial" pkg="ros4mat" type="E_Serial" />
  <node name="E_Logico" pkg="ros4mat" type="E_Logico" />
  <node name="E_Camera" pkg="ros4mat" type="E_Camera" />
  <node name="E_StereoCamera" pkg="ros4mat" type="E_StereoCamera" />
  <node name="openni_node" pkg="openni_camera" type="openni_node" args="_depth_registration:=true" />
</launch>
